---
import Section from "../Section.astro";

import { education } from "@cv";
import { certificates } from "@cv";
---

<Section className={Astro.props.className} title="Education">
	<ul class="space-y-4 py-3 print:space-y-0">
		{
			education.map(({ institution, startDate, endDate, area, url }) => {
				const startYear = new Date(startDate).getFullYear();
				const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual";
				const years = `${startYear} - ${endYear}`;

				return (
					<div class="flex items-baseline">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 hidden h-5 w-5 self-start md:inline-block print:hidden">
							<path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z" />
							<path d="M22 10v6" />
							<path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5" />
						</svg>
						<div class="relative w-full items-baseline justify-between gap-2">
							<h3 class="mr-6 items-baseline gap-x-2 gap-y-0.5 font-medium">
								<a target="_blank" class="hover:text-skin-hue group flex items-center gap-[6px] decoration-dotted underline-offset-[5px] hover:underline" href={url}>
									{institution}
								</a>
							</h3>
							<div class="text-sm text-skin-muted">{area}</div>
							<time class="right-0 top-0 text-xs text-skin-muted md:absolute md:block">{years}</time>
						</div>
					</div>
				);
			})
		}
	</ul>

	{
		certificates.length > 0 && (
			<>
				<h4>Certificates</h4>
				<ul class="space-y-4 py-3 print:space-y-0">
					{certificates.map(({ name, date, issuer, url }) => {
						const certificateYear = new Date(date).getFullYear();
						return (
							<div class="flex items-baseline">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 hidden h-5 w-5 self-start md:inline-block print:hidden">
									<path d="M15 12h-5" />
									<path d="M15 8h-5" />
									<path d="M19 17V5a2 2 0 0 0-2-2H4" />
									<path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3" />
								</svg>
								<div class="relative w-full items-baseline justify-between gap-2">
									<h3 class="mr-6 items-baseline gap-x-2 gap-y-0.5 font-medium">
										<a class="hover:text-skin-hue group flex items-center gap-[6px] text-skin-base decoration-dotted underline-offset-[5px] hover:underline" href={url} target="_blank">
											{name}
										</a>
									</h3>
									<div class="text-sm text-skin-muted">{issuer}</div>
									<time class="right-0 top-0 text-xs text-skin-muted md:absolute md:block">{certificateYear}</time>
								</div>
							</div>
						);
					})}
				</ul>
			</>
		)
	}
</Section>
