---
import { Image } from 'astro:assets'
import Section from '../Section.astro'

import CV from '@cv'
const images = CV.images!
---

<Section className={Astro.props.className} title='Images'>
  <div class='grid grid-cols-1 gap-2 md:grid-cols-2'>
    {
      images &&
        images.map(({ image, alt, desc }) => (
          <div class='h-auto max-w-prose rounded-lg border border-solid border-skin-hue/20 bg-skin-button-accent/20 p-1 text-skin-hue'>
            <a data-src={image} data-fancybox='images' data-caption={desc}>
              <Image
                src={image}
                alt={alt}
                height={1920}
                width={1080}
                class='max-w-full rounded-lg'
              />
            </a>
          </div>
        ))
    }
  </div>
</Section>

<script>
  import { Fancybox } from '@fancyapps/ui'
  Fancybox.bind('[data-fancybox="images"]', { hideScrollbar: false })
</script>
